body{
	margin:10;
}
header{
	background-color: lavender;
	padding-top: 50px;
	padding-bottom: 30px;
}
header h1{
	color: black;
	font-family: 'Amatic SC', cursive;
	font-size: 50px
}
header img{
	border-radius: 35px;
	width: 400px; 
	height: auto;
}